
// Config.xcconfig
//STREAM_API_KEY = pbuqqsfrcybs
//STREAM_USER_ID = ecf74285-6632-48c7-8bd1-15bf9cb83621
//STREAM_USER_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZWNmNzQyODUtNjYzMi00OGM3LThiZDEtMTViZjljYjgzNjIxIn0.869STkavtKYvkyiC8moiY4N20hRkMGjk_73ezUOKb48


STREAM_API_KEY = pbuqqsfrcybs
STREAM_USER_ID = 4a7cf8d5-fd63-41cf-a7ba-02f2689fe8d8
STREAM_USER_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNGE3Y2Y4ZDUtZmQ2My00MWNmLWE3YmEtMDJmMjY4OWZlOGQ4In0.wF_NpF8QnFKphX0QihVbx8tm4y9JADyFA5d66aBCDnc


